@use "../_utilities/mixins" as *;
@use "../_utilities/variables" as *;

.home {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  place-content: center;
  place-items: center;
  width: 100vw;
  height: 100%;
  padding: 20px;
  background: url("https://i.postimg.cc/x12GNBmy/libera-home.jpg") center/cover no-repeat;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.4);
  }

  @include responsive("Laptops") {
    grid-template-columns: 2fr repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    overflow: hidden;
  }

  &__img-container {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;

    @include responsive("Laptops") {
      grid-column: 1 / 2;
      grid-row: 1 / -1;
      width: 462px;
      height: 475px;
    }
  }

  &__text {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    z-index: 1;

    @include responsive("Laptops") {
      grid-column: 3 / 5;
      grid-row: 1 / -1;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__title {
    margin: 0;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: $font-light;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    text-align: center;
    color: $color-white;
  }

  &__paragraph {
    margin: 0;
    font-size: 2rem;
    font-family: $font-light;
    text-align: center;
    color: $color-white;
  }

  &__wave {
    position: relative;
    bottom: 0%;
    left: 0;
    width: 100%;
    height: 180px;
    background: url("../img/wave.svg") center no-repeat;
    background-size: cover;
  }

  &__button {
    margin-top: 10px;
    width: 180px;
    height: 120px;
    transition: 0.5s;

    & img {
      object-fit: contain;
    }

    &:hover {
      transform: translateY(-5px);
    }
  }
}
