* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

li {
  list-style-type: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  height: 100%;
  margin: 0;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -moz-appearance: button;
       appearance: button;
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -moz-appearance: textfield;
       appearance: textfield;
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

@font-face {
  font-family: "Futura Light";
  src: url("../fonts/Futura Book font.ttf");
}
@font-face {
  font-family: "Futura Bold";
  src: url("../fonts/Futura Heavy font.ttf ");
}
.body {
  font-family: "Futura Light", sans-serif;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.audio {
  display: none;
}

.navbar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 60px 60px;
  grid-template-rows: 60px 60px;
  width: 100vw;
}

.navbar > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.navbar > *:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
@media (min-width: 769px) {
  .navbar {
    -ms-grid-rows: 60px 45px;
    grid-template-rows: 60px 45px;
  }
}
.navbar__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}
.navbar__p {
  font-size: 1.3rem;
  font-family: "Futura Light", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
}
.navbar__img {
  width: 70px;
  height: 70px;
}
.navbar__container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  padding: 25px;
  background-color: #00bf62;
}
@media (min-width: 769px) {
  .navbar__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 0;
    padding: 0px 40px;
  }
}
.navbar__list {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  width: 80vw;
  height: 100vh;
  margin: 0;
  padding: 40px;
  background-color: #e8ffe6;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  list-style: none;
  z-index: 4;
}
.navbar__list.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
@media (min-width: 769px) {
  .navbar__list {
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 15px;
    width: 100%;
    height: 100%;
    padding: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    background: none;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    z-index: 1;
  }
}
.navbar__toggle {
  border: none;
  outline: none;
  background: none;
  font-size: 3rem;
  color: #fff;
}
.navbar__toggle i {
  pointer-events: none;
}
@media (min-width: 769px) {
  .navbar__toggle {
    display: none;
  }
}
@media (min-width: 769px) {
  .navbar__item:not(:first-child) {
    border-left: 2px solid #fff;
    padding-left: 12px;
  }
}
.navbar__item-button {
  position: absolute;
  top: 20px;
  left: 40px;
  font-size: 3rem;
  color: #000;
}
.navbar__item-button i {
  pointer-events: none;
}
@media (min-width: 769px) {
  .navbar__item-button {
    display: none;
  }
}
.navbar__link, .navbar__a {
  padding-bottom: 1px;
  border-bottom: 2px solid #00bf62;
  font-size: 1.6rem;
  font-weight: bold;
  font-family: "Futura Light", sans-serif;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}
@media (min-width: 769px) {
  .navbar__link, .navbar__a {
    border-bottom: 2px solid #fff;
    font-size: 1.4rem;
    color: #fff;
  }
}
.navbar__list-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
}
.navbar__social {
  font-size: 1.7rem;
  color: #fff;
}
@media (min-width: 769px) {
  .navbar__social {
    font-size: 3rem;
  }
}

.home {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: (1fr)[2];
  grid-template-rows: repeat(2, 1fr);
  place-content: center;
  place-items: center;
  width: 100vw;
  height: 100%;
  padding: 20px;
  background: url("https://i.postimg.cc/x12GNBmy/libera-home.jpg") center/cover no-repeat;
  overflow: hidden;
}

.home > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.home > *:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.home::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
@media (min-width: 769px) {
  .home {
    -ms-grid-columns: 2fr (1fr)[4];
    grid-template-columns: 2fr repeat(4, 1fr);
    -ms-grid-rows: (1fr)[3];
    grid-template-rows: repeat(3, 1fr);
    height: 83.1vh;
  }
  .home > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .home > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .home > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  .home > *:nth-child(4) {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
  }
  .home > *:nth-child(5) {
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
  .home > *:nth-child(6) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .home > *:nth-child(7) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .home > *:nth-child(8) {
    -ms-grid-row: 2;
    -ms-grid-column: 3;
  }
  .home > *:nth-child(9) {
    -ms-grid-row: 2;
    -ms-grid-column: 4;
  }
  .home > *:nth-child(10) {
    -ms-grid-row: 2;
    -ms-grid-column: 5;
  }
  .home > *:nth-child(11) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .home > *:nth-child(12) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  .home > *:nth-child(13) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  .home > *:nth-child(14) {
    -ms-grid-row: 3;
    -ms-grid-column: 4;
  }
  .home > *:nth-child(15) {
    -ms-grid-row: 3;
    -ms-grid-column: 5;
  }
}
.home__img-container {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  grid-column: 1/-1;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
}
@media (min-width: 769px) {
  .home__img-container {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    grid-row: 1/-1;
  }
}
.home__text {
  grid-column: 1/-1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  z-index: 1;
}
@media (min-width: 769px) {
  .home__text {
    -ms-grid-column: 3;
    -ms-grid-column-span: 2;
    grid-column: 3/5;
    grid-row: 1/-1;
  }
}
.home__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.home__title {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Futura Light", sans-serif;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.home__paragraph {
  margin: 0;
  font-size: 2rem;
  font-family: "Futura Light", sans-serif;
  text-align: center;
  color: #fff;
}
.home__wave {
  position: relative;
  bottom: 0%;
  left: 0;
  width: 100%;
  height: 180px;
  background: url("../img/wave.svg") center no-repeat;
  background-size: cover;
}
.home__button {
  margin-top: 10px;
  width: 180px;
  height: 120px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.home__button img {
  -o-object-fit: contain;
     object-fit: contain;
}
.home__button:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.content {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e8ffe6;
  -webkit-transform: translate(0%, 100%) matrix(1, 0, 0, 1, 0, 0);
          transform: translate(0%, 100%) matrix(1, 0, 0, 1, 0, 0);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  z-index: 5;
  overflow: hidden;
}
.content.active {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.content__navbar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 70px;
  padding: 20px 40px;
  background-color: #00bf62;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.content__logo {
  width: 70px;
  height: 70px;
}
.content__button-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 50%;
  background-color: #fff;
  font-size: 2.5rem;
  color: #00bf62;
  cursor: pointer;
}
.content__button-close i {
  pointer-events: none;
}
.content__container {
  width: 100%;
  height: 100%;
  padding: 120px 40px 40px;
  overflow-y: auto;
  overflow-x: hidden;
}
.content__container::-webkit-scrollbar {
  width: 6px;
  background: #e8ffe6;
}
.content__container::-webkit-scrollbar-thumb {
  background: #00bf62;
  border-radius: 10px;
}
.content__title {
  margin: 0;
  padding: 0;
  font-size: 4rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: #000;
}
.content__sub-title {
  font-size: 2.5rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  color: #000;
}
.content__span {
  font-weight: bold;
}
.content__span--block {
  display: block;
}
.content__span--margin {
  margin-top: 10px;
}
.content__p {
  margin: 15px 0;
  padding: 0;
  font-size: 2rem;
  line-height: 3rem;
  color: #000;
}
.content__video-container {
  width: 240px;
  height: 240px;
  margin: 10px auto 0;
}
@media (min-width: 769px) {
  .content__video-container {
    width: 700px;
    height: 400px;
  }
}
.content__video-container video {
  -o-object-fit: contain;
     object-fit: contain;
}
.content__grid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 295px));
  -ms-grid-rows: 1fr 20px 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}
.content__item-container {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
}
.content__item-container:hover img {
  -webkit-transform: scale(1.02) rotate(1deg);
          transform: scale(1.02) rotate(1deg);
}
.content__item-container:hover figcaption {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.content__item-img {
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.content__item-text {
  position: absolute;
  bottom: 5px;
  left: 0;
  padding: 0 10px;
  font-size: 1.5rem;
  line-height: 2rem;
  color: #fff;
  -webkit-transform: translateY(110%);
          transform: translateY(110%);
  z-index: 2;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.content__item-date {
  font-size: 1.4rem;
  color: #00bf62;
  margin-bottom: 10px;
}
.content__portada {
  width: 280px;
  height: 340px;
  -o-object-fit: fill;
     object-fit: fill;
  margin: 0 auto;
}
@media (min-width: 769px) {
  .content__portada {
    width: 390px;
    height: 570px;
  }
}

.control-audio {
  position: fixed;
  bottom: 5px;
  right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 50%;
  background-color: #00bf62;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  z-index: 6;
}
.control-audio i {
  pointer-events: none;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 7;
}
.loading__item::before {
  content: "";
  display: block;
  height: 50px;
  width: 50px;
  border: 10px #00bf62 double;
  border-left-style: solid;
  border-radius: 100%;
  -webkit-animation: spin 0.5s infinite linear;
  animation: spin 0.5s infinite linear;
}
.loading.hide {
  display: none;
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}